
@font-face {
  font-family: 'nutui-iconfont';
  src: url('iconfont.woff2') format('woff2') /* chrome、firefox */,
  url('iconfont.woff') format('woff') /* chrome、firefox */,
  url('iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */;
}

.nutui-iconfont{
  font-family: 'nutui-iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nut-icon-image-error::before {
  content: "\e0f0";
}

.nut-icon-star::before {
  content: "\e809";
}

.nut-icon-arrow-up-small::before {
  content: "\f46f";
}

.nut-icon-to-receive1::before {
  content: "\e42e";
}

.nut-icon-arrow-down-size6::before {
  content: "\f3f3";
}

.nut-icon-volume-max::before {
  content: "\e07a";
}

.nut-icon-arrow-right1::before {
  content: "\ec63";
}

.nut-icon-received::before {
  content: "\e5c0";
}

.nut-icon-wait-receive::before {
  content: "\e374";
}

.nut-icon-star-fill::before {
  content: "\f1d1";
}

.nut-icon-arrow-right-size8::before {
  content: "\e1d2";
}

.nut-icon-scan1::before {
  content: "\e781";
}

.nut-icon-arrow-left1::before {
  content: "\f256";
}

.nut-icon-cart::before {
  content: "\f23b";
}

.nut-icon-close-2::before {
  content: "\e2d8";
}

.nut-icon-jd::before {
  content: "\e51f";
}

.nut-icon-add::before {
  content: "\f33d";
}

.nut-icon-to-receive::before {
  content: "\f15e";
}

.nut-icon-no-receive::before {
  content: "\e182";
}

.nut-icon-tips1::before {
  content: "\e839";
}

.nut-icon-arrow-up-size6::before {
  content: "\e6b0";
}

.nut-icon-arrow-right-size6::before {
  content: "\e824";
}

.nut-icon-play::before {
  content: "\f40b";
}

.nut-icon-weixin::before {
  content: "\e9b6";
}

.nut-icon-pin::before {
  content: "\ee8f";
}

.nut-icon-loading1::before {
  content: "\e472";
}

.nut-icon-comment::before {
  content: "\e3b6";
}

.nut-icon-add-to-home::before {
  content: "\e8e3";
}

.nut-icon-hi::before {
  content: "\eb45";
}

.nut-icon-follow-add::before {
  content: "\f37e";
}

.nut-icon-dongdong-plus::before {
  content: "\e5a8";
}

.nut-icon-follow-added1::before {
  content: "\eb04";
}

.nut-icon-play-circle-fill::before {
  content: "\e9e2";
}

.nut-icon-arrow-down-small::before {
  content: "\f3a5";
}

.nut-icon-del::before {
  content: "\ee62";
}

.nut-icon-check-normal::before {
  content: "\f42f";
}

.nut-icon-feedback::before {
  content: "\ef13";
}

.nut-icon-complaint::before {
  content: "\e073";
}

.nut-icon-warning1::before {
  content: "\e610";
}

.nut-icon-right::before {
  content: "\f0bf";
}

.nut-icon-store::before {
  content: "\e557";
}

.nut-icon-follow-add1::before {
  content: "\f45d";
}

.nut-icon-refund::before {
  content: "\eb12";
}

.nut-icon-feedback1::before {
  content: "\e715";
}

.nut-icon-image1::before {
  content: "\e3c8";
}

.nut-icon-home1::before {
  content: "\e138";
}

.nut-icon-close::before {
  content: "\e3f9";
}

.nut-icon-search12::before {
  content: "\eb0e";
}

.nut-icon-top::before {
  content: "\ef55";
}

.nut-icon-check-checked::before {
  content: "\eea6";
}

.nut-icon-play-stop::before {
  content: "\e0d0";
}

.nut-icon-photograph1::before {
  content: "\f03d";
}

.nut-icon-star1::before {
  content: "\e35d";
}

.nut-icon-star-3::before {
  content: "\e04a";
}

.nut-icon-share-2::before {
  content: "\f178";
}

.nut-icon-mail::before {
  content: "\f47e";
}

.nut-icon-save::before {
  content: "\f397";
}

.nut-icon-follow-added::before {
  content: "\e0e7";
}

.nut-icon-mask-close::before {
  content: "\ee40";
}

.nut-icon-star-2::before {
  content: "\f4ad";
}

.nut-icon-save1::before {
  content: "\e75b";
}

.nut-icon-minus::before {
  content: "\e57e";
}

.nut-icon-user::before {
  content: "\eefc";
}

.nut-icon-tiaozhuan1::before {
  content: "\e9f7";
}

.nut-icon-check::before {
  content: "\e4e0";
}

.nut-icon-retweet::before {
  content: "\f21a";
}

.nut-icon-shield-check::before {
  content: "\e7e9";
}

.nut-icon-ask1::before {
  content: "\f488";
}

.nut-icon-jianqudingceng::before {
  content: "\ed8d";
}

.nut-icon-footprint::before {
  content: "\e45d";
}

.nut-icon-location::before {
  content: "\eb55";
}

.nut-icon-qr-code::before {
  content: "\e623";
}

.nut-icon-network-error::before {
  content: "\ec70";
}

.nut-icon-designer::before {
  content: "\e21b";
}

.nut-icon-check-close::before {
  content: "\e335";
}

.nut-icon-photograph::before {
  content: "\efad";
}

.nut-icon-eye1::before {
  content: "\e117";
}

.nut-icon-prices::before {
  content: "\e056";
}

.nut-icon-logistics-error::before {
  content: "\f008";
}

.nut-icon-arrow-transfer::before {
  content: "\e1cf";
}

.nut-icon-share1::before {
  content: "\edad";
}

.nut-icon-to-pay1::before {
  content: "\f013";
}

.nut-icon-setting::before {
  content: "\f049";
}

.nut-icon-arrow-left::before {
  content: "\f37b";
}

.nut-icon-phone::before {
  content: "\e6df";
}

.nut-icon-arrow-down1::before {
  content: "\e9dc";
}

.nut-icon-play-double-forward::before {
  content: "\e3bb";
}

.nut-icon-health::before {
  content: "\e6be";
}

.nut-icon-picked-up::before {
  content: "\f3e8";
}

.nut-icon-add-to-cart::before {
  content: "\f3d9";
}

.nut-icon-arrow-up1::before {
  content: "\e3e7";
}

.nut-icon-list-2::before {
  content: "\ebd7";
}

.nut-icon-cart1::before {
  content: "\e4f6";
}

.nut-icon-message1::before {
  content: "\e051";
}

.nut-icon-clock::before {
  content: "\e480";
}

.nut-icon-ask::before {
  content: "\ecc6";
}

.nut-icon-success::before {
  content: "\f182";
}

.nut-icon-zoom::before {
  content: "\f1d7";
}

.nut-icon-arrow-up::before {
  content: "\e802";
}

.nut-icon-arrow-left-small::before {
  content: "\f240";
}

.nut-icon-arrow-right::before {
  content: "\e24a";
}

.nut-icon-edit::before {
  content: "\f31a";
}

.nut-icon-notice1::before {
  content: "\f095";
}

.nut-icon-video::before {
  content: "\e39b";
}

.nut-icon-heart-fill::before {
  content: "\ef67";
}

.nut-icon-scan::before {
  content: "\e00b";
}

.nut-icon-user-add::before {
  content: "\e1fd";
}

.nut-icon-icon_16_back::before {
  content: "\e9a9";
}

.nut-icon-articles::before {
  content: "\e8e5";
}

.nut-icon-heart::before {
  content: "\f2a4";
}

.nut-icon-dongdong-2::before {
  content: "\e7dd";
}

.nut-icon-link::before {
  content: "\f3a0";
}

.nut-icon-video1::before {
  content: "\e0a4";
}

.nut-icon-logistics-error1::before {
  content: "\e20c";
}

.nut-icon-service::before {
  content: "\ec29";
}

.nut-icon-shield-check1::before {
  content: "\f15b";
}

.nut-icon-always-buy::before {
  content: "\ed73";
}

.nut-icon-refresh::before {
  content: "\ec02";
}

.nut-icon-notice::before {
  content: "\f1ef";
}

.nut-icon-internation1::before {
  content: "\f181";
}

.nut-icon-volume-max1::before {
  content: "\e58e";
}

.nut-icon-gardener::before {
  content: "\eff1";
}

.nut-icon-home::before {
  content: "\e795";
}

.nut-icon-add-to-cart1::before {
  content: "\ecc3";
}

.nut-icon-search::before {
  content: "\ec3f";
}

.nut-icon-volume-mute1::before {
  content: "\ed06";
}

.nut-icon-phone-2::before {
  content: "\e68c";
}

.nut-icon-failure1::before {
  content: "\f1e2";
}

.nut-icon-wallet::before {
  content: "\eb74";
}

.nut-icon-triangle-up::before {
  content: "\e637";
}

.nut-icon-transit::before {
  content: "\efcf";
}

.nut-icon-failure::before {
  content: "\e248";
}

.nut-icon-user1::before {
  content: "\e593";
}

.nut-icon-coupon::before {
  content: "\e6bc";
}

.nut-icon-filter::before {
  content: "\e7f6";
}

.nut-icon-arrow-right-align::before {
  content: "\e3ba";
}

.nut-icon-message::before {
  content: "\ea3c";
}

.nut-icon-reload::before {
  content: "\e2e0";
}

.nut-icon-warning::before {
  content: "\e281";
}

.nut-icon-triangle-down::before {
  content: "\f17e";
}

.nut-icon-minus1::before {
  content: "\f166";
}

.nut-icon-setting1::before {
  content: "\e195";
}

.nut-icon-del1::before {
  content: "\efdd";
}

.nut-icon-joy-smile::before {
  content: "\ef96";
}

.nut-icon-check-disabled::before {
  content: "\e75f";
}

.nut-icon-gift::before {
  content: "\f190";
}

.nut-icon-arrow-down::before {
  content: "\e624";
}

.nut-icon-joy::before {
  content: "\efe0";
}

.nut-icon-arrow-decline::before {
  content: "\eb3d";
}

.nut-icon-success1::before {
  content: "\e345";
}

.nut-icon-clock12::before {
  content: "\e838";
}

.nut-icon-category::before {
  content: "\e3ca";
}

.nut-icon-comment1::before {
  content: "\eb0c";
}

.nut-icon-repairman::before {
  content: "\ea78";
}

.nut-icon-list::before {
  content: "\e583";
}

.nut-icon-backtop1::before {
  content: "\e56e";
}

.nut-icon-eye::before {
  content: "\e7f3";
}

.nut-icon-fabulous::before {
  content: "\f09d";
}

.nut-icon-phone1::before {
  content: "\f358";
}

.nut-icon-jingdou::before {
  content: "\eb11";
}

.nut-icon-share::before {
  content: "\e652";
}

.nut-icon-dongdong-3::before {
  content: "\e589";
}

.nut-icon-videos::before {
  content: "\e6f6";
}

.nut-icon-more::before {
  content: "\f2f4";
}

.nut-icon-arrow-radius::before {
  content: "\e804";
}

.nut-icon-refund1::before {
  content: "\eb87";
}

.nut-icon-loading::before {
  content: "\ebb4";
}

.nut-icon-store1::before {
  content: "\e410";
}

.nut-icon-volume-mute::before {
  content: "\e529";
}

.nut-icon-voice::before {
  content: "\f023";
}

.nut-icon-plus::before {
  content: "\ec88";
}

.nut-icon-tips::before {
  content: "\ede5";
}

.nut-icon-arrow-dot-left::before {
  content: "\e712";
}

.nut-icon-category1::before {
  content: "\eaec";
}

.nut-icon-filter1::before {
  content: "\f037";
}

.nut-icon-heart1::before {
  content: "\e7bb";
}

.nut-icon-to-pay::before {
  content: "\e3a3";
}

.nut-icon-order1::before {
  content: "\e911";
}

.nut-icon-edit1::before {
  content: "\eec3";
}

.nut-icon-play-start::before {
  content: "\f074";
}

.nut-icon-processing::before {
  content: "\ebbd";
}

.nut-icon-play-double-back::before {
  content: "\e4d6";
}

.nut-icon-doctor::before {
  content: "\f2ba";
}

.nut-icon-dongdong::before {
  content: "\e4ad";
}

.nut-icon-mail1::before {
  content: "\f504";
}

.nut-icon-order::before {
  content: "\f3a7";
}

.nut-icon-checked::before {
  content: "\e693";
}

.nut-icon-internation::before {
  content: "\e585";
}

.nut-icon-backtop::before {
  content: "\e0ff";
}

.nut-icon-microphone::before {
  content: "\e4b9";
}

.nut-icon-check-right::before {
  content: "\efa2";
}

.nut-icon-image::before {
  content: "\e8af";
}

.nut-icon-instocks::before {
  content: "\ead6";
}

.nut-icon-icon_12_back::before {
  content: "\f209";
}

.nut-icon-marshalling::before {
  content: "\f4af";
}

.nut-icon-copy::before {
  content: "\ee6e";
}

.nut-icon-location1::before {
  content: "\e1bc";
}