
@font-face {
  font-family: 'nutui-iconfont';
  src: url('iconfont.woff2') format('woff2') /* chrome、firefox */,
  url('iconfont.woff') format('woff') /* chrome、firefox */,
  url('iconfont.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */;
}

.nutui-iconfont{
  font-family: 'nutui-iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nut-icon-Config::before {
  content: "\f506";
}

.nut-icon-Config-i::before {
  content: "\f505";
}

.nut-icon-PK-f::before {
  content: "\f507";
}

.nut-icon-add::before {
  content: "\f33d";
}

.nut-icon-add-home::before {
  content: "\f509";
}

.nut-icon-add-home-i::before {
  content: "\f508";
}

.nut-icon-add-i::before {
  content: "\f50a";
}

.nut-icon-add-to-cart::before {
  content: "\f3d9";
}

.nut-icon-add-to-cart-f::before {
  content: "\ecc3";
}

.nut-icon-add-to-cart-i::before {
  content: "\f50b";
}

.nut-icon-add-to-home::before {
  content: "\e8e3";
}

.nut-icon-add-to-home-i::before {
  content: "\f50c";
}

.nut-icon-ai-shop::before {
  content: "\f50e";
}

.nut-icon-ai-shop-i::before {
  content: "\f50d";
}

.nut-icon-airplane::before {
  content: "\f510";
}

.nut-icon-airplane-i::before {
  content: "\f50f";
}

.nut-icon-always-buy::before {
  content: "\f512";
}

.nut-icon-always-buy-f::before {
  content: "\ed73";
}

.nut-icon-always-buy-order::before {
  content: "\f511";
}

.nut-icon-arrow-back::before {
  content: "\f514";
}

.nut-icon-arrow-back-i::before {
  content: "\f513";
}

.nut-icon-arrow-below::before {
  content: "\f516";
}

.nut-icon-arrow-below-i::before {
  content: "\f515";
}

.nut-icon-arrow-decline::before {
  content: "\eb3d";
}

.nut-icon-arrow-dot-left::before {
  content: "\e712";
}

.nut-icon-arrow-dot-left-i::before {
  content: "\f517";
}

.nut-icon-arrow-down::before {
  content: "\e624";
}

.nut-icon-arrow-down-f::before {
  content: "\e9dc";
}

.nut-icon-arrow-down-i::before {
  content: "\f518";
}

.nut-icon-arrow-down-size6::before {
  content: "\f3f3";
}

.nut-icon-arrow-down-small::before {
  content: "\f3a5";
}

.nut-icon-arrow-go::before {
  content: "\f51a";
}

.nut-icon-arrow-go-i::before {
  content: "\f519";
}

.nut-icon-arrow-left::before {
  content: "\f37b";
}

.nut-icon-arrow-left-f::before {
  content: "\f256";
}

.nut-icon-arrow-left-i::before {
  content: "\f51b";
}

.nut-icon-arrow-left-small::before {
  content: "\f240";
}

.nut-icon-arrow-radius::before {
  content: "\e804";
}

.nut-icon-arrow-right::before {
  content: "\e24a";
}

.nut-icon-arrow-right-align::before {
  content: "\e3ba";
}

.nut-icon-arrow-right-f::before {
  content: "\ec63";
}

.nut-icon-arrow-right-i::before {
  content: "\f51c";
}

.nut-icon-arrow-right-size6::before {
  content: "\e824";
}

.nut-icon-arrow-right-size8::before {
  content: "\e1d2";
}

.nut-icon-arrow-right-small::before {
  content: "\e9f7";
}

.nut-icon-arrow-transfer::before {
  content: "\e1cf";
}

.nut-icon-arrow-transfer-i::before {
  content: "\f51d";
}

.nut-icon-arrow-up::before {
  content: "\e802";
}

.nut-icon-arrow-up-f::before {
  content: "\e3e7";
}

.nut-icon-arrow-up-i::before {
  content: "\f51e";
}

.nut-icon-arrow-up-size6::before {
  content: "\e6b0";
}

.nut-icon-arrow-up-small::before {
  content: "\f46f";
}

.nut-icon-articles::before {
  content: "\e8e5";
}

.nut-icon-artwork::before {
  content: "\f520";
}

.nut-icon-artwork-i::before {
  content: "\f51f";
}

.nut-icon-ask::before {
  content: "\ecc6";
}

.nut-icon-ask-f::before {
  content: "\f488";
}

.nut-icon-ask-i::before {
  content: "\f521";
}

.nut-icon-backtop::before {
  content: "\e0ff";
}

.nut-icon-backtop-f::before {
  content: "\e56e";
}

.nut-icon-backtop-i::before {
  content: "\f522";
}

.nut-icon-bag::before {
  content: "\f525";
}

.nut-icon-bag-f::before {
  content: "\f523";
}

.nut-icon-bag-i::before {
  content: "\f524";
}

.nut-icon-bgm-off::before {
  content: "\f527";
}

.nut-icon-bgm-off-i::before {
  content: "\f526";
}

.nut-icon-bgm-on::before {
  content: "\f529";
}

.nut-icon-bgm-on-i::before {
  content: "\f528";
}

.nut-icon-book::before {
  content: "\f52b";
}

.nut-icon-book-i::before {
  content: "\f52a";
}

.nut-icon-brand-auth::before {
  content: "\f52d";
}

.nut-icon-brand-auth-i::before {
  content: "\f52c";
}

.nut-icon-brand-authorize::before {
  content: "\f52f";
}

.nut-icon-brand-authorize-i::before {
  content: "\f52e";
}

.nut-icon-bulletin::before {
  content: "\f531";
}

.nut-icon-bulletin-i::before {
  content: "\f530";
}

.nut-icon-car::before {
  content: "\f533";
}

.nut-icon-car-i::before {
  content: "\f532";
}

.nut-icon-card::before {
  content: "\f538";
}

.nut-icon-card-f::before {
  content: "\f534";
}

.nut-icon-card-i::before {
  content: "\f535";
}

.nut-icon-card-list::before {
  content: "\f537";
}

.nut-icon-card-list-i::before {
  content: "\f536";
}

.nut-icon-cart::before {
  content: "\f23b";
}

.nut-icon-cart-f::before {
  content: "\e4f6";
}

.nut-icon-cart-i::before {
  content: "\f539";
}

.nut-icon-category::before {
  content: "\e3ca";
}

.nut-icon-category-f::before {
  content: "\eaec";
}

.nut-icon-category-i::before {
  content: "\f53a";
}

.nut-icon-check::before {
  content: "\e4e0";
}

.nut-icon-check-checked::before {
  content: "\eea6";
}

.nut-icon-check-checked-f::before {
  content: "\f53b";
}

.nut-icon-check-close::before {
  content: "\e335";
}

.nut-icon-check-disabled::before {
  content: "\e75f";
}

.nut-icon-check-disabled-f::before {
  content: "\f53c";
}

.nut-icon-check-i::before {
  content: "\f53d";
}

.nut-icon-check-normal::before {
  content: "\f42f";
}

.nut-icon-check-right::before {
  content: "\efa2";
}

.nut-icon-checked::before {
  content: "\e693";
}

.nut-icon-clean::before {
  content: "\f53f";
}

.nut-icon-clean-i::before {
  content: "\f53e";
}

.nut-icon-clock::before {
  content: "\e480";
}

.nut-icon-clock-f::before {
  content: "\e838";
}

.nut-icon-clock-i::before {
  content: "\f540";
}

.nut-icon-close::before {
  content: "\e3f9";
}

.nut-icon-close-2::before {
  content: "\e2d8";
}

.nut-icon-close-i::before {
  content: "\f541";
}

.nut-icon-column::before {
  content: "\f543";
}

.nut-icon-column-i::before {
  content: "\f542";
}

.nut-icon-comment::before {
  content: "\e3b6";
}

.nut-icon-comment-f::before {
  content: "\eb0c";
}

.nut-icon-comment-i::before {
  content: "\f544";
}

.nut-icon-complaint::before {
  content: "\e073";
}

.nut-icon-copy::before {
  content: "\ee6e";
}

.nut-icon-copy-i::before {
  content: "\f545";
}

.nut-icon-coupon::before {
  content: "\e6bc";
}

.nut-icon-coupon-i::before {
  content: "\f546";
}

.nut-icon-crop::before {
  content: "\f548";
}

.nut-icon-crop-i::before {
  content: "\f547";
}

.nut-icon-del::before {
  content: "\ee62";
}

.nut-icon-del-f::before {
  content: "\efdd";
}

.nut-icon-del-i::before {
  content: "\f549";
}

.nut-icon-designer::before {
  content: "\e21b";
}

.nut-icon-designer-i::before {
  content: "\f54a";
}

.nut-icon-diamond::before {
  content: "\f54d";
}

.nut-icon-diamond-f::before {
  content: "\f54b";
}

.nut-icon-diamond-i::before {
  content: "\f54c";
}

.nut-icon-dining-code-f::before {
  content: "\f54e";
}

.nut-icon-doctor::before {
  content: "\f2ba";
}

.nut-icon-doctor-i::before {
  content: "\f54f";
}

.nut-icon-dongdong::before {
  content: "\e4ad";
}

.nut-icon-dongdong-2::before {
  content: "\e7dd";
}

.nut-icon-dongdong-3::before {
  content: "\e589";
}

.nut-icon-dongdong-3-i::before {
  content: "\f550";
}

.nut-icon-dongdong-heart::before {
  content: "\f552";
}

.nut-icon-dongdong-heart-i::before {
  content: "\f551";
}

.nut-icon-dongdong-i::before {
  content: "\f553";
}

.nut-icon-dongdong-plus::before {
  content: "\e5a8";
}

.nut-icon-dongdong-plus-i::before {
  content: "\f554";
}

.nut-icon-dynamic-display::before {
  content: "\f556";
}

.nut-icon-dynamic-display-i::before {
  content: "\f555";
}

.nut-icon-edit::before {
  content: "\f31a";
}

.nut-icon-edit-f::before {
  content: "\eec3";
}

.nut-icon-edit-i::before {
  content: "\f557";
}

.nut-icon-exchange-f::before {
  content: "\f558";
}

.nut-icon-eye::before {
  content: "\e7f3";
}

.nut-icon-eye-f::before {
  content: "\e117";
}

.nut-icon-eye-i::before {
  content: "\f559";
}

.nut-icon-fabulous::before {
  content: "\f09d";
}

.nut-icon-fabulous-f::before {
  content: "\f55a";
}

.nut-icon-fabulous-i::before {
  content: "\f55b";
}

.nut-icon-failure::before {
  content: "\e248";
}

.nut-icon-failure-f::before {
  content: "\f1e2";
}

.nut-icon-failure-i::before {
  content: "\f55c";
}

.nut-icon-feedback::before {
  content: "\ef13";
}

.nut-icon-feedback-f::before {
  content: "\e715";
}

.nut-icon-feedback-i::before {
  content: "\f55d";
}

.nut-icon-filter::before {
  content: "\e7f6";
}

.nut-icon-filter-f::before {
  content: "\f037";
}

.nut-icon-filter-i::before {
  content: "\f55e";
}

.nut-icon-flight-record::before {
  content: "\f560";
}

.nut-icon-flight-record-i::before {
  content: "\f55f";
}

.nut-icon-folder::before {
  content: "\f562";
}

.nut-icon-folder-i::before {
  content: "\f561";
}

.nut-icon-follow-add::before {
  content: "\f37e";
}

.nut-icon-follow-add-f::before {
  content: "\f45d";
}

.nut-icon-follow-add-i::before {
  content: "\f563";
}

.nut-icon-follow-added::before {
  content: "\e0e7";
}

.nut-icon-follow-added-f::before {
  content: "\eb04";
}

.nut-icon-followe-added-i::before {
  content: "\f564";
}

.nut-icon-footprint::before {
  content: "\e45d";
}

.nut-icon-footprint-i::before {
  content: "\f565";
}

.nut-icon-forward::before {
  content: "\f567";
}

.nut-icon-forward-i::before {
  content: "\f566";
}

.nut-icon-freight::before {
  content: "\f569";
}

.nut-icon-freight-i::before {
  content: "\f568";
}

.nut-icon-frequent-list::before {
  content: "\f56b";
}

.nut-icon-frequent-list-i::before {
  content: "\f56a";
}

.nut-icon-furniture::before {
  content: "\f56d";
}

.nut-icon-furniture-i::before {
  content: "\f56c";
}

.nut-icon-gardener::before {
  content: "\eff1";
}

.nut-icon-gardener-i::before {
  content: "\f56e";
}

.nut-icon-gardening::before {
  content: "\f570";
}

.nut-icon-gardening-i::before {
  content: "\f56f";
}

.nut-icon-gift::before {
  content: "\f190";
}

.nut-icon-gift-f::before {
  content: "\f571";
}

.nut-icon-gift-i::before {
  content: "\f572";
}

.nut-icon-gift-order::before {
  content: "\f13d";
}

.nut-icon-goods-down::before {
  content: "\f574";
}

.nut-icon-goods-down-i::before {
  content: "\f573";
}

.nut-icon-green-tag-f::before {
  content: "\f575";
}

.nut-icon-guide::before {
  content: "\f577";
}

.nut-icon-guide-i::before {
  content: "\f576";
}

.nut-icon-health::before {
  content: "\e6be";
}

.nut-icon-health-i::before {
  content: "\f578";
}

.nut-icon-heart::before {
  content: "\f2a4";
}

.nut-icon-heart-f::before {
  content: "\e7bb";
}

.nut-icon-heart-fill::before {
  content: "\ef67";
}

.nut-icon-heart-i::before {
  content: "\f579";
}

.nut-icon-hi::before {
  content: "\eb45";
}

.nut-icon-hi-i::before {
  content: "\f57a";
}

.nut-icon-home::before {
  content: "\e795";
}

.nut-icon-home-f::before {
  content: "\e138";
}

.nut-icon-home-i::before {
  content: "\f57b";
}

.nut-icon-hot::before {
  content: "\f580";
}

.nut-icon-hot-f::before {
  content: "\f57c";
}

.nut-icon-hot-i::before {
  content: "\f57d";
}

.nut-icon-hot-sale::before {
  content: "\f57f";
}

.nut-icon-hot-sale-i::before {
  content: "\f57e";
}

.nut-icon-icon_12_back::before {
  content: "\f209";
}

.nut-icon-icon_16_back::before {
  content: "\e9a9";
}

.nut-icon-image::before {
  content: "\e8af";
}

.nut-icon-image-error::before {
  content: "\e0f0";
}

.nut-icon-image-f::before {
  content: "\e3c8";
}

.nut-icon-image-i::before {
  content: "\f581";
}

.nut-icon-instocks::before {
  content: "\ead6";
}

.nut-icon-interactive::before {
  content: "\f583";
}

.nut-icon-interactive-i::before {
  content: "\f582";
}

.nut-icon-internation::before {
  content: "\e585";
}

.nut-icon-internation-f::before {
  content: "\f181";
}

.nut-icon-internation-i::before {
  content: "\f584";
}

.nut-icon-jd::before {
  content: "\e51f";
}

.nut-icon-jianqudingceng::before {
  content: "\ed8d";
}

.nut-icon-jingdou::before {
  content: "\eb11";
}

.nut-icon-jingdou-i::before {
  content: "\f585";
}

.nut-icon-joy::before {
  content: "\efe0";
}

.nut-icon-joy-smile::before {
  content: "\ef96";
}

.nut-icon-letter::before {
  content: "\f587";
}

.nut-icon-letter-i::before {
  content: "\f586";
}

.nut-icon-link::before {
  content: "\f3a0";
}

.nut-icon-link-i::before {
  content: "\f588";
}

.nut-icon-list::before {
  content: "\e583";
}

.nut-icon-list-2::before {
  content: "\ebd7";
}

.nut-icon-list-i::before {
  content: "\f589";
}

.nut-icon-live-streaming::before {
  content: "\f58c";
}

.nut-icon-live-streaming-f::before {
  content: "\f58a";
}

.nut-icon-live-streaming-i::before {
  content: "\f58b";
}

.nut-icon-loading::before {
  content: "\ebb4";
}

.nut-icon-loading1::before {
  content: "\e472";
}

.nut-icon-location::before {
  content: "\eb55";
}

.nut-icon-location-f::before {
  content: "\e1bc";
}

.nut-icon-location-i::before {
  content: "\f58d";
}

.nut-icon-logistics-error::before {
  content: "\f008";
}

.nut-icon-logistics-error-f::before {
  content: "\e20c";
}

.nut-icon-logistics-error-i::before {
  content: "\f58e";
}

.nut-icon-mail::before {
  content: "\f47e";
}

.nut-icon-mail-f::before {
  content: "\f504";
}

.nut-icon-mail-i::before {
  content: "\f58f";
}

.nut-icon-marshalling::before {
  content: "\f4af";
}

.nut-icon-marshalling-i::before {
  content: "\f590";
}

.nut-icon-mask-close::before {
  content: "\ee40";
}

.nut-icon-message::before {
  content: "\ea3c";
}

.nut-icon-message-f::before {
  content: "\e051";
}

.nut-icon-message-i::before {
  content: "\f591";
}

.nut-icon-microphone::before {
  content: "\e4b9";
}

.nut-icon-microphone-i::before {
  content: "\f592";
}

.nut-icon-minus::before {
  content: "\e57e";
}

.nut-icon-minus-f::before {
  content: "\f166";
}

.nut-icon-minus-i::before {
  content: "\f593";
}

.nut-icon-money-detail::before {
  content: "\f595";
}

.nut-icon-money-detail-i::before {
  content: "\f594";
}

.nut-icon-more::before {
  content: "\f2f4";
}

.nut-icon-more-i::before {
  content: "\f596";
}

.nut-icon-music-note::before {
  content: "\f598";
}

.nut-icon-music-note-i::before {
  content: "\f597";
}

.nut-icon-navigate-f::before {
  content: "\f599";
}

.nut-icon-network-error::before {
  content: "\ec70";
}

.nut-icon-network-error-i::before {
  content: "\f59a";
}

.nut-icon-new-arrival-f::before {
  content: "\f59b";
}

.nut-icon-new-goods::before {
  content: "\f59d";
}

.nut-icon-new-goods-i::before {
  content: "\f59c";
}

.nut-icon-new-product::before {
  content: "\f59f";
}

.nut-icon-new-product-i::before {
  content: "\f59e";
}

.nut-icon-no-receive::before {
  content: "\e182";
}

.nut-icon-no-receive-i::before {
  content: "\f5a0";
}

.nut-icon-notebook-i::before {
  content: "\f5a1";
}

.nut-icon-notice::before {
  content: "\f1ef";
}

.nut-icon-notice-f::before {
  content: "\f095";
}

.nut-icon-notice-i::before {
  content: "\f5a2";
}

.nut-icon-on-site-repair::before {
  content: "\f5a4";
}

.nut-icon-on-site-repair-i::before {
  content: "\f5a3";
}

.nut-icon-order::before {
  content: "\f3a7";
}

.nut-icon-order-f::before {
  content: "\e911";
}

.nut-icon-order-i::before {
  content: "\f5a5";
}

.nut-icon-package-box::before {
  content: "\f5a7";
}

.nut-icon-package-box-i::before {
  content: "\f5a6";
}

.nut-icon-params::before {
  content: "\f5a9";
}

.nut-icon-params-i::before {
  content: "\f5a8";
}

.nut-icon-pending-assess::before {
  content: "\f5ab";
}

.nut-icon-pending-assess-i::before {
  content: "\f5aa";
}

.nut-icon-pending-pay::before {
  content: "\f5ad";
}

.nut-icon-pending-pay-i::before {
  content: "\f5ac";
}

.nut-icon-pending-service::before {
  content: "\f5af";
}

.nut-icon-pending-service-i::before {
  content: "\f5ae";
}

.nut-icon-phone::before {
  content: "\e6df";
}

.nut-icon-phone-2::before {
  content: "\e68c";
}

.nut-icon-phone-f::before {
  content: "\f358";
}

.nut-icon-phone-i::before {
  content: "\f5b0";
}

.nut-icon-photograph::before {
  content: "\efad";
}

.nut-icon-photograph-f::before {
  content: "\f03d";
}

.nut-icon-photograph-i::before {
  content: "\f5b1";
}

.nut-icon-picked-up::before {
  content: "\f3e8";
}

.nut-icon-picked-up-i::before {
  content: "\f5b2";
}

.nut-icon-pin::before {
  content: "\ee8f";
}

.nut-icon-play::before {
  content: "\f40b";
}

.nut-icon-play-circle-fill::before {
  content: "\e9e2";
}

.nut-icon-play-double-back::before {
  content: "\e4d6";
}

.nut-icon-play-double-forward::before {
  content: "\e3bb";
}

.nut-icon-play-start::before {
  content: "\f074";
}

.nut-icon-play-stop::before {
  content: "\e0d0";
}

.nut-icon-plus::before {
  content: "\ec88";
}

.nut-icon-port::before {
  content: "\f5b5";
}

.nut-icon-port-f::before {
  content: "\f5b3";
}

.nut-icon-port-i::before {
  content: "\f5b4";
}

.nut-icon-price-down::before {
  content: "\f5b8";
}

.nut-icon-price-down-f::before {
  content: "\f5b6";
}

.nut-icon-price-down-i::before {
  content: "\f5b7";
}

.nut-icon-prices::before {
  content: "\e056";
}

.nut-icon-processing::before {
  content: "\ebbd";
}

.nut-icon-processing-i::before {
  content: "\f5b9";
}

.nut-icon-promotion::before {
  content: "\f5bb";
}

.nut-icon-promotion-i::before {
  content: "\f5ba";
}

.nut-icon-qr-code::before {
  content: "\e623";
}

.nut-icon-qrcode::before {
  content: "\f5bd";
}

.nut-icon-qrcode-i::before {
  content: "\f5bc";
}

.nut-icon-ranking-f::before {
  content: "\f5be";
}

.nut-icon-received::before {
  content: "\e5c0";
}

.nut-icon-received-i::before {
  content: "\f5bf";
}

.nut-icon-recommend::before {
  content: "\f5c2";
}

.nut-icon-recommend-f::before {
  content: "\f5c0";
}

.nut-icon-recommend-i::before {
  content: "\f5c1";
}

.nut-icon-red-packet::before {
  content: "\f5c4";
}

.nut-icon-red-packet-i::before {
  content: "\f5c3";
}

.nut-icon-refresh::before {
  content: "\ec02";
}

.nut-icon-refresh-i::before {
  content: "\f5c5";
}

.nut-icon-refund::before {
  content: "\eb12";
}

.nut-icon-refund-f::before {
  content: "\eb87";
}

.nut-icon-refund-i::before {
  content: "\f5c6";
}

.nut-icon-reload::before {
  content: "\e2e0";
}

.nut-icon-reload-i::before {
  content: "\f5c7";
}

.nut-icon-repairman::before {
  content: "\ea78";
}

.nut-icon-repairman-i::before {
  content: "\f5c8";
}

.nut-icon-retweet::before {
  content: "\f21a";
}

.nut-icon-retweet-i::before {
  content: "\f5c9";
}

.nut-icon-right::before {
  content: "\f0bf";
}

.nut-icon-rule-info::before {
  content: "\f5cb";
}

.nut-icon-rule-info-i::before {
  content: "\f5ca";
}

.nut-icon-save::before {
  content: "\f397";
}

.nut-icon-save-f::before {
  content: "\e75b";
}

.nut-icon-save-i::before {
  content: "\f5cc";
}

.nut-icon-scan::before {
  content: "\e00b";
}

.nut-icon-scan-f::before {
  content: "\e781";
}

.nut-icon-scan-i::before {
  content: "\f5cd";
}

.nut-icon-search::before {
  content: "\ec3f";
}

.nut-icon-search-f::before {
  content: "\eb0e";
}

.nut-icon-search-i::before {
  content: "\f5ce";
}

.nut-icon-service::before {
  content: "\ec29";
}

.nut-icon-service-i::before {
  content: "\f5cf";
}

.nut-icon-setting::before {
  content: "\f049";
}

.nut-icon-setting-f::before {
  content: "\e195";
}

.nut-icon-setting-i::before {
  content: "\f5d0";
}

.nut-icon-share::before {
  content: "\e652";
}

.nut-icon-share-2::before {
  content: "\f178";
}

.nut-icon-share-f::before {
  content: "\edad";
}

.nut-icon-share-i::before {
  content: "\f5d1";
}

.nut-icon-shield-check::before {
  content: "\e7e9";
}

.nut-icon-shield-check-f::before {
  content: "\f15b";
}

.nut-icon-shield-check-i::before {
  content: "\f5d2";
}

.nut-icon-sort-filter::before {
  content: "\f5d4";
}

.nut-icon-sort-filter-i::before {
  content: "\f5d3";
}

.nut-icon-star::before {
  content: "\e809";
}

.nut-icon-star-2::before {
  content: "\f4ad";
}

.nut-icon-star-3::before {
  content: "\e04a";
}

.nut-icon-star-f::before {
  content: "\e35d";
}

.nut-icon-star-fill::before {
  content: "\f1d1";
}

.nut-icon-star-i::before {
  content: "\f5d5";
}

.nut-icon-store::before {
  content: "\e557";
}

.nut-icon-store-f::before {
  content: "\e410";
}

.nut-icon-store-i::before {
  content: "\f5d6";
}

.nut-icon-style-trend-f::before {
  content: "\f5d7";
}

.nut-icon-subscribe::before {
  content: "\f5d9";
}

.nut-icon-subscribe-i::before {
  content: "\f5d8";
}

.nut-icon-success::before {
  content: "\f182";
}

.nut-icon-success-f::before {
  content: "\e345";
}

.nut-icon-success-i::before {
  content: "\f5da";
}

.nut-icon-tips::before {
  content: "\ede5";
}

.nut-icon-tips-f::before {
  content: "\e839";
}

.nut-icon-tips-i::before {
  content: "\f5db";
}

.nut-icon-to-pay::before {
  content: "\e3a3";
}

.nut-icon-to-pay-f::before {
  content: "\f013";
}

.nut-icon-to-pay-i::before {
  content: "\f5dc";
}

.nut-icon-to-receive::before {
  content: "\f15e";
}

.nut-icon-to-receive-f::before {
  content: "\e42e";
}

.nut-icon-to-receive-i::before {
  content: "\f5dd";
}

.nut-icon-top::before {
  content: "\ef55";
}

.nut-icon-top-i::before {
  content: "\f5de";
}

.nut-icon-tracklist::before {
  content: "\f5e0";
}

.nut-icon-tracklist-i::before {
  content: "\f5df";
}

.nut-icon-transit::before {
  content: "\efcf";
}

.nut-icon-transit-i::before {
  content: "\f5e1";
}

.nut-icon-triangle-down::before {
  content: "\f17e";
}

.nut-icon-triangle-up::before {
  content: "\e637";
}

.nut-icon-unfollow::before {
  content: "\f5e3";
}

.nut-icon-unfollow-i::before {
  content: "\f5e2";
}

.nut-icon-unsubscribe::before {
  content: "\f5e5";
}

.nut-icon-unsubscribe-i::before {
  content: "\f5e4";
}

.nut-icon-user::before {
  content: "\eefc";
}

.nut-icon-user-add::before {
  content: "\e1fd";
}

.nut-icon-user-add-i::before {
  content: "\f5e6";
}

.nut-icon-user-f::before {
  content: "\e593";
}

.nut-icon-user-i::before {
  content: "\f5e7";
}

.nut-icon-vibrate::before {
  content: "\f5eb";
}

.nut-icon-vibrate-i::before {
  content: "\f5e8";
}

.nut-icon-vibrate-off::before {
  content: "\f5ea";
}

.nut-icon-vibrate-off-i::before {
  content: "\f5e9";
}

.nut-icon-video::before {
  content: "\e39b";
}

.nut-icon-video-f::before {
  content: "\e0a4";
}

.nut-icon-video-i::before {
  content: "\f5ec";
}

.nut-icon-video-play::before {
  content: "\f5ee";
}

.nut-icon-video-play-i::before {
  content: "\f5ed";
}

.nut-icon-videos::before {
  content: "\e6f6";
}

.nut-icon-voice::before {
  content: "\f023";
}

.nut-icon-volume-max::before {
  content: "\e07a";
}

.nut-icon-volume-max-f::before {
  content: "\e58e";
}

.nut-icon-volume-max-i::before {
  content: "\f5ef";
}

.nut-icon-volume-mute::before {
  content: "\e529";
}

.nut-icon-volume-mute-f::before {
  content: "\ed06";
}

.nut-icon-volume-mute-i::before {
  content: "\f5f0";
}

.nut-icon-voucher::before {
  content: "\f5f2";
}

.nut-icon-voucher-i::before {
  content: "\f5f1";
}

.nut-icon-wait-receive::before {
  content: "\e374";
}

.nut-icon-wait-receive-i::before {
  content: "\f5f3";
}

.nut-icon-wallet::before {
  content: "\eb74";
}

.nut-icon-wallet-i::before {
  content: "\f5f4";
}

.nut-icon-warehouse::before {
  content: "\f5f7";
}

.nut-icon-warehouse-f::before {
  content: "\f5f5";
}

.nut-icon-warehouse-i::before {
  content: "\f5f6";
}

.nut-icon-warning::before {
  content: "\e281";
}

.nut-icon-warning-f::before {
  content: "\e610";
}

.nut-icon-warning-i::before {
  content: "\f5f8";
}

.nut-icon-weixin::before {
  content: "\e9b6";
}

.nut-icon-zoom::before {
  content: "\f1d7";
}

.nut-icon-zoom-i::before {
  content: "\f5f9";
}
